.App {
  text-align: center;
}

.header-title {
  margin-bottom: 1rem;
}

.github-profile {
  display: flex;
  align-items: center;
  margin: 1rem;
  text-align: left;
}

.info {
  display: inline-block;
  margin-left: 0.75rem
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

h3, p {
  margin: 0;
}
